/* screen - expanded */

.expanded {
  align-items: flex-start;
  background-color: var(--grape);
  border: 1px none;
  display: flex;
  gap: 14px;
  height: 832px;
  overflow: hidden;
  width: 1280px;
}

.expanded .flex-col {
  flex-direction: column;
  gap: 281px;
  margin-top: 19px;
  min-height: 766px;
  width: 183px;
}

.expanded .overlap-group8 {
  height: 463px;
  position: relative;
  width: 183px;
}

.expanded .navigation-expanded {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 38px;
  left: 0;
  min-height: 463px;
  position: absolute;
  top: 0;
  width: 183px;
}

.expanded .healium {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 100;
  letter-spacing: 0.33px;
  line-height: normal;
  margin-right: 16.0px;
  min-height: 20px;
  min-width: 75px;
}

.expanded .overlap-group {
  height: 405px;
  margin-right: 2.0px;
  position: relative;
  width: 181px;
}

.expanded .nav-bar {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  height: 405px;
  left: 11px;
  padding: 11.4px 3px;
  position: absolute;
  top: 0;
  width: 170px;
}

.expanded .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 2.07px;
  min-height: 360px;
  width: 21px;
}

.expanded .icon-home {
  height: 21px;
  margin-left: 0.11px;
  width: 21px;
}

.expanded .icon-calendar {
  height: 21px;
  margin-left: 0.11px;
  margin-top: 59px;
  width: 21px;
}

.expanded .account_circle-2 {
  height: 21px;
  margin-left: 0.11px;
  margin-top: 66px;
  width: 21px;
}

.expanded .attach_money {
  height: 21px;
  margin-top: 65px;
  width: 21px;
}

.expanded .drafts {
  height: 21px;
  margin-top: 66px;
  width: 21px;
}

.expanded .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 361px;
  width: 113px;
}

.expanded .place {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  letter-spacing: -0.33px;
  line-height: normal;
  min-height: 20px;
}

.expanded .appointments {
  letter-spacing: 0.33px;
  line-height: normal;
  margin-top: 62px;
  min-height: 20px;
}

.expanded .flex-col-item {
  letter-spacing: 0.33px;
  line-height: normal;
  margin-top: 67px;
  min-height: 20px;
}

.expanded .billing {
  letter-spacing: 0.33px;
  line-height: normal;
  margin-top: 65px;
  min-height: 20px;
}

.expanded .rectangle-24 {
  height: 40px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 181px;
}

.expanded .ellipse-26 {
  background-color: var(--grape);
  border-radius: 3px;
  height: 6px;
  left: 168px;
  position: absolute;
  top: 16px;
  width: 6px;
}

.expanded .ellipse-25 {
  background-color: var(--grape);
  border-radius: 3px;
  height: 6px;
  left: 17px;
  position: absolute;
  top: 46px;
  width: 6px;
}

.expanded .vector-17 {
  height: 20px;
  left: 154px;
  position: absolute;
  top: 15px;
  width: 22px;
}

.expanded .ellipse-27 {
  background-color: var(--alto);
  border-radius: 4px;
  height: 8px;
  left: 25px;
  position: absolute;
  top: 6px;
  width: 8px;
}

.expanded .ellipse-28 {
  background-color: var(--alto);
  border-radius: 4px;
  height: 8px;
  left: 33px;
  position: absolute;
  top: 6px;
  width: 8px;
}

.expanded .ellipse-29 {
  background-color: var(--grape);
  border-radius: 3px;
  height: 6px;
  left: 29px;
  position: absolute;
  top: 15px;
  width: 6px;
}

.expanded .ellipse-30 {
  background-color: var(--grape);
  border-radius: 3px;
  height: 6px;
  left: 10px;
  position: absolute;
  top: 33px;
  width: 6px;
}

.expanded .flex-row {
  gap: 21px;
  height: 22px;
  min-width: 104px;
}

.expanded .icon-settings {
  align-self: flex-end;
  height: 20px;
  width: 20px;
}

.expanded .support {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0.32px;
  line-height: normal;
  min-height: 19px;
}

.expanded .flex-col-3 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 13px;
  min-height: 864px;
  width: 1101px;
}

.expanded .flex-row-1 {
  align-items: center;
  display: flex;
  gap: 33px;
  margin-right: 50.0px;
  min-width: 311px;
}

.expanded .sunday-jan-1-1112-am {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 300;
  letter-spacing: 0.30px;
  line-height: normal;
  margin-bottom: 2.0px;
  min-height: 18px;
  text-align: right;
  width: 249px;
}

.expanded .image-2 {
  height: 30px;
  object-fit: cover;
  width: 29px;
}

.expanded .flex-row-2 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 38px;
  display: flex;
  height: 824px;
  min-width: 1101px;
  padding: 20px 17px;
}

.expanded .account_circle-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 42px;
  margin-top: 141px;
  min-height: 90px;
  width: 24px;
}

.expanded .account_circle {
  height: 24px;
  width: 24px;
}

.expanded .flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  min-height: 729px;
  width: 466px;
}

.expanded .title {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-weight: 400;
  letter-spacing: 0.48px;
  line-height: normal;
  min-height: 29px;
}

.expanded .span1 {
  font-weight: 700;
}

.expanded .flex-row-3 {
  align-items: center;
  display: flex;
  gap: 44px;
  min-width: 200px;
}

.expanded .mt-sinai-hospital {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 200;
  letter-spacing: 0.30px;
  line-height: normal;
  margin-top: 3.55px;
  min-height: 18px;
  min-width: 126px;
}

.expanded .east {
  height: 28px;
  width: 30px;
}

.expanded .overlap-group12 {
  align-self: flex-end;
  height: 636px;
  margin-top: 36px;
  position: relative;
  width: 441px;
}

.expanded .type-pairing-4 {
  height: 634px;
  left: 28px;
  top: 2px;
  width: 413px;
}

.expanded .frame-18 {
  align-items: flex-start;
  height: 636px;
  padding: 0 6px;
  top: 0;
}

.expanded .overlap-group3 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 21px;
  margin-top: -4px;
  min-height: 628px;
  padding: 31px 24px;
  width: 390px;
}

.expanded .flex-row-4 {
  align-items: flex-start;
  display: flex;
  gap: 15px;
  height: 347px;
  min-width: 339px;
}

.expanded .flex-col-5 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 344px;
  width: 234px;
}

.expanded .overlap-group5 {
  align-self: flex-end;
  height: 54px;
  position: relative;
  width: 228px;
}

.expanded .vector-1 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 42px;
  width: 228px;
}

.expanded .upcoming-visits {
  left: 0;
  letter-spacing: 0.40px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 205px;
}

.expanded .flex-row-5 {
  align-items: center;
  display: flex;
  height: 47px;
  margin-top: 14px;
  min-width: 216px;
}

.expanded .overlap-group4 {
  height: 29px;
  margin-top: 6.0px;
  position: relative;
  width: 30px;
}

.expanded .account_circle-1 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.expanded .image-5 {
  height: 27px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 28px;
}

.expanded .name-1 {
  margin-left: 5px;
  min-height: 47px;
  min-width: 77px;
}

.expanded .span-1 {
  letter-spacing: 0.24px;
}

.expanded .x1123-930-am {
  letter-spacing: 0.24px;
  line-height: normal;
  margin-left: 56px;
  margin-top: 1.0px;
  min-height: 30px;
  min-width: 48px;
}

.expanded .vector-5 {
  height: 1px;
  margin-left: 2px;
  margin-top: 28px;
  object-fit: cover;
  width: 228px;
}

.expanded .flex-row-6 {
  align-items: center;
  display: flex;
  height: 47px;
  margin-left: 2px;
  margin-top: 20px;
  min-width: 218px;
}

.expanded .image-3 {
  height: 27px;
  margin-top: 2.0px;
  object-fit: cover;
  width: 28px;
}

.expanded .name-2 {
  margin-left: 5px;
  min-height: 47px;
  min-width: 101px;
}

.expanded .x1123-1100-am {
  align-self: flex-end;
  letter-spacing: 0.24px;
  line-height: normal;
  margin-bottom: 3px;
  margin-left: 32px;
  min-height: 30px;
  min-width: 52px;
}

.expanded .overlap-group6 {
  height: 24px;
  margin-left: 2px;
  margin-top: 7px;
  position: relative;
  width: 232px;
}

.expanded .vector-6 {
  height: 1px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 228px;
}

.expanded .flex-row-7 {
  align-items: center;
  display: flex;
  height: 49px;
  margin-left: 2px;
  margin-top: 28px;
  min-width: 218px;
}

.expanded .image-4 {
  height: 27px;
  margin-bottom: 4.0px;
  width: 27px;
}

.expanded .name-3 {
  margin-left: 7px;
  min-height: 49px;
  min-width: 102px;
}

.expanded .x1123-1130-am {
  letter-spacing: 0.24px;
  line-height: normal;
  margin-left: 30px;
  margin-top: 1.0px;
  min-height: 30px;
  min-width: 52px;
}

.expanded .vector-7 {
  align-self: flex-end;
  height: 1px;
  margin-right: 0;
  margin-top: 24px;
  object-fit: cover;
  width: 228px;
}

.expanded .filled-dropdown {
  align-items: flex-end;
  display: flex;
  gap: 1155px;
  min-width: 90px;
}

.expanded .arrow_drop_down {
  height: 35px;
  margin-bottom: -162px;
  margin-left: -1190px;
  width: 35px;
}

.expanded .down-container {
  height: 31px;
  position: relative;
  width: 90px;
}

.expanded .filled-dropdown-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
  left: 0;
  min-height: 31px;
  position: absolute;
  top: 0;
  width: 90px;
}

.expanded .filled-state {
  align-items: flex-start;
  display: flex;
  height: 31px;
  min-width: 90px;
}

.expanded .overlap-group1 {
  height: 41px;
  margin-top: -10px;
  position: relative;
  width: 90px;
}

.expanded .filled-state-1 {
  align-items: flex-end;
  display: flex;
  height: 31px;
  justify-content: center;
  left: 0;
  min-width: 90px;
  position: absolute;
  top: 10px;
}

.expanded .overlap-group-1 {
  align-items: flex-start;
  border: 0.5px solid;
  border-color: #202020;
  border-radius: 13.5px;
  display: flex;
  height: 25px;
  margin-bottom: -1.0px;
  min-width: 92px;
  padding: 3.5px 5.6px;
}

.expanded .default-state {
  color: #202020;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 500;
  height: 15px;
  letter-spacing: 0.24px;
  line-height: normal;
}

.expanded .text-here {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 500;
  left: 0;
  letter-spacing: 0.32px;
  line-height: normal;
  position: absolute;
  top: 0;
}

.expanded .message-here {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: normal;
  min-height: 19px;
}

.expanded .akar-iconschevron-down {
  height: 11px;
  left: 72px;
  position: absolute;
  top: 14px;
  width: 11px;
}

.expanded .flex-row-8 {
  align-items: flex-start;
  display: flex;
  height: 49px;
  margin-right: 9px;
  margin-top: 33px;
  min-width: 294px;
}

.expanded .name {
  min-height: 49px;
  min-width: 101px;
}

.expanded .x1123-100-pm {
  letter-spacing: 0.24px;
  line-height: normal;
  margin-left: 33px;
  margin-top: 3px;
  min-height: 30px;
  min-width: 47px;
}

.expanded .primary-filled {
  align-self: center;
  border-radius: 13.5px;
  margin-bottom: 8.7px;
  margin-left: 32px;
  position: relative;
}

.expanded .small-primary {
  align-items: center;
  background-color: var(--grape);
  border: 1.35px solid;
  border-radius: 13.5px;
  box-shadow: 0px 2.7px 2.7px #00000040;
  display: flex;
  gap: 5.4px;
  height: 24.3px;
  justify-content: center;
  padding: 10.8px 32.4px;
  position: relative;
  width: 81px;
}

.expanded .big-button {
  letter-spacing: -0.24px;
  line-height: normal;
  margin-bottom: -4.80px;
  margin-left: -9.40px;
  margin-right: -9.40px;
  margin-top: -7.50px;
  position: relative;
  width: fit-content;
}

.expanded .vector-8 {
  align-self: flex-start;
  height: 1px;
  margin-left: 9px;
  margin-top: 28px;
  object-fit: cover;
  width: 228px;
}

.expanded .flex-row-9 {
  align-items: flex-end;
  display: flex;
  gap: 110px;
  height: 49px;
  margin-right: 9px;
  margin-top: 10px;
  min-width: 292px;
}

.expanded .primary-filled-1 {
  margin-bottom: 5.7px;
  position: relative;
}

.expanded .primary-outlined {
  border: 1px solid;
  border-color: transparent;
  left: 272px;
  position: absolute;
  top: 112px;
}

.expanded .primary-filled-2 {
  left: 305px;
  position: absolute;
  top: 112px;
}

.expanded .primary-filled-3 {
  left: 305px;
  position: absolute;
  top: 214px;
}

.expanded .primary-filled-4 {
  left: 305px;
  position: absolute;
  top: 316px;
}

.expanded .image-9 {
  height: 27px;
  left: 57px;
  position: absolute;
  top: 411px;
  width: 27px;
}

.expanded .overlap-group-container {
  align-items: flex-end;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 47px;
  margin-left: 7px;
  margin-top: 57.0px;
  min-height: 669px;
  width: 435px;
}

.expanded .overlap-group10 {
  border-radius: 50px;
  height: 256px;
  margin-right: 4.0px;
  position: relative;
  width: 423px;
}

.expanded .type-pairing-6 {
  height: 256px;
  left: 0;
  top: 0;
  width: 423px;
}

.expanded .east-1 {
  height: 16px;
  left: 120px;
  position: absolute;
  top: 181px;
  width: 24px;
}

.expanded .rectangle-6 {
  height: 242px;
  left: 19px;
  position: absolute;
  top: 10px;
  width: 390px;
}

.expanded .reminders {
  left: 50px;
  letter-spacing: 0.40px;
  line-height: normal;
  position: absolute;
  top: 31px;
  width: 187px;
}

.expanded .vector-3 {
  height: 1px;
  left: 50px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 230px;
}

.expanded .filled-text {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 15px;
  height: 15px;
  left: 50px;
  min-width: 15px;
  position: absolute;
  top: 96px;
}

.expanded .overlap-group1-1 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--grape);
  border-radius: 7.5px;
  display: flex;
  height: 15px;
  min-width: 15px;
  padding: 1px;
}

.expanded .ellipse-12 {
  background-color: var(--grape);
  border-radius: 5.5px;
  height: 11px;
  width: 11px;
}

.expanded .text-1 {
  background-color: transparent;
  border: 0;
  height: 17px;
  letter-spacing: 0.28px;
  line-height: normal;
  margin-top: -3px;
  padding: 0;
  width: 95px;
}

.expanded .text-1::placeholder {
  color: #00000099;
}

.expanded .unfilled-text {
  align-items: flex-start;
  display: flex;
  gap: 15px;
  height: 24px;
  left: 50px;
  min-width: 24px;
  position: absolute;
  top: 130px;
}

.expanded .ellipse-10 {
  border: 1px solid;
  border-color: var(--alto);
  border-radius: 7.5px;
  height: 15px;
  width: 15px;
}

.expanded .text {
  letter-spacing: 0.28px;
  line-height: normal;
  margin-top: -3px;
  min-height: 17px;
}

.expanded .unfilled-text-1 {
  align-items: flex-start;
  display: flex;
  gap: 15px;
  height: 24px;
  left: 50px;
  min-width: 24px;
  position: absolute;
  top: 165px;
}

.expanded .overlap-group11 {
  height: 366px;
  position: relative;
  width: 435px;
}

.expanded .type-pairing-5 {
  height: 366px;
  left: 22px;
  top: 0;
  width: 413px;
}

.expanded .frame-16 {
  align-items: center;
  gap: 1467px;
  height: 337px;
  overflow: hidden;
  top: 3px;
}

.expanded .east-2 {
  height: 28px;
  margin-left: -1464px;
  margin-top: 117.45px;
  width: 24px;
}

.expanded .flex-row-10 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  gap: 9px;
  height: 337px;
  min-width: 390px;
  padding: 30px 29px;
}

.expanded .flex-col-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 241px;
  width: 232px;
}

.expanded .overlap-group-2 {
  height: 54px;
  margin-left: 4.0px;
  position: relative;
  width: 228px;
}

.expanded .inbox {
  left: 0;
  letter-spacing: 0.40px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 205px;
}

.expanded .image-7 {
  height: 27px;
  margin-left: 3px;
  margin-top: 13px;
  width: 27px;
}

.expanded .vector-5-1 {
  height: 1px;
  margin-top: 60px;
  object-fit: cover;
  width: 228px;
}

.expanded .image-8 {
  height: 27px;
  margin-left: 3px;
  margin-top: 26px;
  object-fit: cover;
  width: 27px;
}

.expanded .account_circle-3 {
  height: 24px;
  margin-top: 9px;
  width: 24px;
}

.expanded .flex-col-7 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  min-height: 206px;
  width: 81px;
}

.expanded .edit_square {
  height: 24px;
  margin-right: 7px;
  width: 24px;
}

.expanded .primary-filled-5 {
  margin-top: 44px;
  position: relative;
}

.expanded .big-button-1 {
  letter-spacing: -0.24px;
  line-height: normal;
  margin-bottom: -4.80px;
  margin-left: -5.90px;
  margin-right: -5.90px;
  margin-top: -7.50px;
  position: relative;
  width: fit-content;
}

.expanded .primary-filled-6 {
  margin-top: 90px;
  position: relative;
}

.expanded .dr-jones-1045-am {
  left: 95px;
  letter-spacing: 0.28px;
  line-height: normal;
  position: absolute;
  top: 95px;
}

.expanded .hey-dr-everly-can {
  left: 60px;
  letter-spacing: 0.24px;
  line-height: normal;
  position: absolute;
  top: 136px;
  width: 215px;
}

.expanded .just-send-over-the-l {
  left: 60px;
  letter-spacing: 0.24px;
  line-height: normal;
  position: absolute;
  top: 249px;
  width: 215px;
}

.expanded .dr-brown-930-am {
  left: 94px;
  letter-spacing: 0.28px;
  line-height: normal;
  position: absolute;
  top: 210px;
}

.expanded .flex {
  align-items: flex-start;
  display: flex;
  margin-left: 13px;
}

.expanded .frame {
  display: flex;
  left: 0;
  position: absolute;
  width: 423px;
}

.expanded .name-4 {
  letter-spacing: 0.28px;
  line-height: normal;
}

.expanded .primary {
  align-items: flex-start;
  display: flex;
  width: fit-content;
}

.expanded .primary-filled-7 {
  align-items: flex-start;
  border-radius: 13.5px;
  display: flex;
  width: fit-content;
}

.expanded .type-pairing {
  background-color: var(--nobel);
  border-radius: 50px;
  filter: blur(30px);;
  position: absolute;
}
