.unfilled-text {
  align-items: flex-start;
  display: flex;
  gap: 15px;
  height: 24px;
  left: 26px;
  min-width: 24px;
  position: absolute;
  top: 89px;
}

.ellipse-10 {
  border: 1px solid;
  border-color: var(--alto);
  border-radius: 7.5px;
  height: 15px;
  width: 15px;
}

.text {
  align-self: flex-end;
  letter-spacing: 0.28px;
  line-height: normal;
  margin-bottom: -20px;
  min-height: 47px;
  min-width: 144px;
}

.span-3 {
  letter-spacing: 0.24px;
}

.unfilled-text.unfilled-text-1 {
  top: 164px;
}

.unfilled-text.unfilled-text-1 .text {
  min-width: 128px;
}

.unfilled-text.unfilled-text-2 {
  top: 237px;
}

.unfilled-text.unfilled-text-2 .text {
  min-width: 127px;
}

